<div class="card" style="width: 18rem;">
    <%if image.attached?%>
        <%= image_tag image.variant(resize_to_limit: [200, nil]), class: "card-img-top" %> 
    <%end%>
    <div class="card-body">
        <h4 class="card-text"><%=name%></h4>
        <p class="card-text"><%=brand.capitalize%></p>
    </div>
    <%if old_price.present?%>
        <p class="list-group-item"><%=old_price%>$</p>
    <%end%>
    <p class="list-group-item"><%=new_price%>$</p>
</div>